/web/bundles
/web/uploads
/web/activate_apc
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/deployment
/bin/
/composer.phar
/app/config/*_local.*
/src/Resources/config/*_local.*
/.settings
/.project
/.idea
/.gitignore~
/.buildpath
/composer.lock
**.DS_Store