<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span> List</h3>
	</div>
	<div class="panel-body">
		<ul class="list-unstyled">
		  	<li>
		  		<span class="title">Projects</span>
  				<div class="btn-group pull-right">
			    	<a type="button" class="btn btn-default btn-xs" href="{{ path('admin_project') }}" title="View">
			    		<span class="glyphicon glyphicon-search"></span>
			    	</a>
				</div>
		  	</li>
		</ul>
	</div>
</div>
