<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><span class="glyphicon glyphicon-cog"></span> Others</h3>
	</div>
	<div class="panel-body">
		<ul class="list-unstyled">
            {#
			<li>
		  		<span class="title">Exception List</span>
  				<div class="btn-group pull-right">
			    	<a type="button" class="btn btn-default btn-xs" href="{{ path('admin_exception_list') }}" title="View">
			    		<span class="glyphicon glyphicon-search"></span>
			    	</a>
				</div>
		  	</li>
		  	<hr/>
		  	<li>
		  		<span class="title">User List</span>
  				<div class="btn-group pull-right">
			    	<a type="button" class="btn btn-default btn-xs" href="{{ path('admin_user_list') }}" title="View">
			    		<span class="glyphicon glyphicon-search"></span>
			    	</a>
				</div>
		  	</li>
            #}
		</ul>
	</div>
</div>
